{% extends "allianceauth/base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}{{ title }} - Corp Inventory{% endblock %}

{% block content %}
<div class="corp-inventory-wrapper">
    {% block corp_inventory_content %}
    {% endblock %}
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'corp_inventory/css/corp_inventory.css' %}">
{% endblock %}

{% block extra_javascript %}
<script src="{% static 'corp_inventory/js/corp_inventory.js' %}"></script>
<script>
    // Format ISK values
    function formatISK(value) {
        return new Intl.NumberFormat('en-US', {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        }).format(value) + ' ISK';
    }
    
    // Format numbers with commas
    function formatNumber(value) {
        return new Intl.NumberFormat('en-US').format(value);
    }
    
    $(document).ready(function() {
        // Initialize tooltips
        $('[data-toggle="tooltip"]').tooltip();
        
        // Format ISK values
        $('.isk-value').each(function() {
            var value = parseFloat($(this).text());
            if (!isNaN(value)) {
                $(this).text(formatISK(value));
            }
        });
    });
</script>
{% endblock %}
